<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classification Result</title>
     <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="text-center align-content-center justify-content-center">
        <h3>Prediction Result</h3>
        <p>The predicted Diabetes Degree is </p>
        <b style="color:red;font-weight: bold;font-style: italic">{{prediction}}</b>
    </div>

</div>

<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>